body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.input-div {
    width: 100%;
    padding: 1rem;
    border: 2px solid gray;
    font-size: larger;
    text-align: right;
    margin-bottom: 1rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.num-btn, .num-btn-signal, .num-btn-equal {
    padding: 1.5rem;
    border: none;
    font-size: larger;
    border: 1px solid gray;
    background-color: rgb(11, 9, 135);
    color: white;
    cursor: pointer;
}

.num-btn:hover {
    background-color: maroon;
}

.num-btn-equal {
    background-color: rgb(5, 68, 17);
}

@media only screen and (max-width:800px) {
    .num-btn, .num-btn-signal, .num-btn-equal {
        padding: 1rem;
        font-size: medium;
    }
}
